.width_class {
  margin-left: 25px;
  width: 290px;
}
.lineHeight {
  width: 238px;
  line-height: 7;
}
.white_card {
  background-color: white;
  height: 253px;
  border-right: 1px solid lightgray;
}
.select_item {
  border: none;
}
.header_padding {
  padding-top: 25px !important;
  padding-bottom: 12px !important;
}
.testclss .slds-icon-text-default {
  fill: blue;
}
.boxStyle {
  width: 100%;
  border-color: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0 25px;
}
.updload-doucment header {
  display: none;
}

.pdload-doucment .ud-header {
  display: block;
}

.updload-doucment .ud-header {
  display: block;
  background: #cbe3fb;
  margin: 0;
  padding: 0 30px;
  /* margin-top: -24px; */
  padding: 15px 20px;
}

.updload-doucment {
  width: calc(100% - 40px);
  display: block;
  margin: 10px auto 0;
}
@media only screen and (max-width: 991px) {
  .updload-doucment {
    width: calc(100% - 20px);
  }
}
@media only screen and (max-width: 767px) { 
.boxStyle {
    margin:0;
  }
}
@media only screen and (max-width: 600px) {
  .uploaddiv {
    width: 100%;
  }
  .doctypediv {
    width: 100%;
  }
  /* .boxStyle {
    width: 85%;
  } */
}